.create-new-table {
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 0.1rem;
    font-weight: 100;
}

.table-button {
    padding: 0.5rem;
    height: 8rem;
    width: 100%;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bg-black {
    background-color: #0d0d0d !important;
}

.rounded-pill {
    border-radius: 5rem;
}

.register-btn {
    color: black;
    background-color: #df9c15;
    border-color: #df9c15;
}

.register-btn:active,
.register-btn:focus,
.register-btn:hover {
    color: #fff;
    background-color: #d2691d !important;
    border-color: #d2691d !important;
}

.register-btn:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(77, 104, 115 0.5);
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #d2691d 0%, #df9c15 100%);
}

header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -60rem;
}

header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -40rem;
}

header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    top: 2rem;
    left: 25%;
}

header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: 25rem;
    right: 15%;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }

    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem;
    }

    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem;
    }
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #1f2224 0%, #002234 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 700;
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
}

nav.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}

main table {
    text-align: left;
}

main tbody tr td {
    max-width: 5rem;
}

main tfoot {
    font-weight: bold;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}
